
body {
  background-color: rgb(245,245,245);
  font-family: 'Roboto', sans-serif;

}

h1 {
  color: #5dc0a6ff;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: lightgrey;
}

h2 {
  color: rgb(100,100,100);
  font-family: 'Roboto', sans-serif;
  font-weight: 300
}

a {
  text-decoration: none;
  color: #5dc0a6ff;
}

a:hover {
  color: #5dc0a6ff;
  text-decoration: none;
  opacity: 0.5;
}

table td {
  padding: 0 20px;
}

table {
  margin: 10px auto;
}


/*custom class and design */

.container {
  margin: 30px auto;
  width: 700px;
}

.card {
  background-color: white;
  border: 10px solid rgb(93,192,166,0.5);
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 45px 0px rgba(0,0,0,0.26);
}

.card1 {
  border: 10px solid rgb(255,255,255);
  background-color: rgb(93,192,166,0.5);
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 45px 0px rgba(0,0,0,0.10);
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 7px 45px 0px rgba(0,0,0,0.26);

}

.btn-purple {
  background-color: #5dc0a6ff;
  color: white;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: Roboto;
  font-size: 15px;
}
.btn-purple:hover {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.image-border {
  border: 5px solid rgb(255,255,255);
  border-radius: 10px;
  box-shadow: 6px 7px 19px -1px rgba(0,0,0,0.25);
}

#intro p {
  margin-bottom: 30px;
}

#resize_text {
  color: rgb(100,100,100);
  font-size: 15px;
  text-align: center;
  padding: 0 30px;
  line-height: 1.9;
}

.list-inline{
  padding: 0;
}

.list-inline li {
  display: inline;
  margin-right: 10px;
}




/*responsiveness*/

@media (max-width: 1000px) {
  .container {
    width: 700px;
  }
}


@media (max-width: 700px) {
  .container {
    width: 500px;
  }
}


@media (max-width: 500px) {
  .container {
    width: 400px;
  }

  .img-circle {
    width: 100px;
  }
}




